body {
	width:100%;
	height:100%;
	text-align:center;
	background:lightblue;
}

#container {
	width:100%;
	height:100%;
	text-align:center;
}

#left {
	position:absolute;
	top:0;
	left:0;
	width:60%;
}

#full-view {
	display:block;
	padding:5%;
}

#full-view img {
	max-width:70%;
	margin:0 5%;
}

#full-view li {
	text-align:left;
}

#admin-view {
	display:block;
}

#admin-view label {
	display:block;
	float:left;
	width:25%;
	text-align:right;
	margin-right:2%;
	padding:2%;
}

#admin-view input {
	display:block;
	width:45%;
	padding:2%;
	border:5px solid gray;
	border-radius:5px;
}

#admin-view input:after {
	clear:both;
}

#admin-buttons {
	width:100%;
	margin:20px auto;
	text-align:center;
} 

#admin-buttons input {
	display:inline;
	width:20%;
	margin-right:20px;
}

#list-view {
	position:absolute;
	top:0;
	right:0;
	width:40%;
}

#list-view img {
	max-width:50%;
	margin:2% 5%;
}

img {
	border:5px solid gray;
	border-radius:10%;
}

.highlight {
	font-weight:bold;
}

#pixabay, #admin {
	position:fixed;
	bottom:10px;
	opacity:0.5;
	background:gray;
	color:#fff;
	padding:10px;
	border-radius:5%;
}

#pixabay {
	right:10px;
}

#admin {
	left:10px;
}

a {
	color:#fff;
}
